# Node dependency directories
node_modules/
dist/
.next/
out/

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment configurations
.env
.env*.local

# macOS system files
.DS_Store

# Xcode build files
build/
DerivedData/
*.xcuserstate
